div {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}



.fotos {
    width: 300px;
    height: 200px;

}

.fotos1 {
    width: 300px;
    height: 330px;


}

    a:hover {
        color: #00d9ff;
    }
